services:
  mysql:
    image: mysql:8.0
    container_name: sakila-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: sakila
    ports:
      - "3307:3306"
    volumes:
      - ./db:/var/lib/mysql
      - ./sakila_sql:/docker-entrypoint-initdb.d

  adminer:
    image: adminer
    container_name: sakila-adminer
    ports:
      - "8080:8080"
    depends_on:
      - mysql
